setlist { font-family: Verdana,times;}
Artist { font-style: bold; color: #622A73;display: block}
title { font-style: italic; color: #7A44B7;display: block}
genre { font-style: bold; color: #908F91;display: block}
year { font-style: bold; color: #908F91;display: block}

